<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFEA5JEzshWOi50H8yX4j7k7ZOrC4rEUs</string>
	<key>GCM_SENDER_ID</key>
	<string>331938017312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ics.mindease</string>
	<key>PROJECT_ID</key>
	<string>mindease-oficial</string>
	<key>STORAGE_BUCKET</key>
	<string>mindease-oficial.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331938017312:ios:bb6592d0e2daeceed14c45</string>
</dict>
</plist>